/* invoking custom web fonts */

@font-face {
    font-family: 'Merriweather Black';
    src: url('../fonts/Merriweather-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Black Italic';
    src: url('../fonts/Merriweather-BlackItalic.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Bold';
    src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Bold Italic';
    src: url('../fonts/Merriweather-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Italic';
    src: url('../fonts/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('../fonts/Merriweather-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Light Italic';
    src: url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Regular';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*----------------- alternative fonts-------------------*/
@font-face {
    font-family: 'Inria Sans Bold';
    src: url('../fonts/InriaSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Sans Bold Italic';
    src: url('../fonts/InriaSans-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inria Sans Italic';
    src: url('../fonts/InriaSans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inria Sans Light';
    src: url('../fonts/InriaSans-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Sans Light Italic';
    src: url('../fonts/InriaSans-LightItalic.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Inria Sans Regular';
    src: url('../fonts/InriaSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* global document settings */

html {
    /* so that boxes don't shrink or enlarge when padding or borders are added */
    box-sizing: border-box;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector (Bos, 2019)
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* now on to visual definitions itself */

body {
    font-family: 'Merriweather Light';
    font-size: 100%;
    margin: 25px;
    min-height: calc(100vh - 20px);
}

/* invoking CSS grid */

.gridframe {
    display: grid;
    grid-gap: 10px;
    background-color: #F8F8F8;
}

.masthead {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: minmax(150px, 1fr) auto;
}

.head {
  background: url(../images/banner.jpg);
  /*this image's dimensions are 1092 x 364*/
  background-size: auto 100%;
  background-position: center;
  display: grid;
  grid-gap: 10px;
}

.head>* {
  background-color: rgba(255,255,255,0.75);
  justify-self: center;
  align-self: center;

}

.sitetitle {
  margin: 0;
  padding: 25px;
  font-family: 'Inria Sans Bold';
  text-transform: uppercase;
}

.menu1 {
  display: grid;
  grid-gap: 10px;
  margin: 0 10px 0 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  text-align: center;
  text-transform: uppercase;
}

.menu1>li {
  border: 1px solid black;
  padding: 10px;
  font-family: 'Inria Sans Bold';
  text-decoration: none;
  letter-spacing: 1px;
}

.menu1>li:hover {
  background-color: silver;
}

.menu1 a,
.gallery a,
.galleryitem a {
  display: block;
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 10px;
}

.content>* {
  grid-column: 3 / -3;
}

.flourish {
  margin: 0;
  grid-column: 2 / -2;
  background-color: silver;
  padding: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 10px;
}

.galleryitem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
}


@media (max-width: 700px)  {
  .content {
    display: grid;
    grid-template-columns: /*repeat(5, 1fr)*/;
    /*if stuff gets too crowded:*/
    grid-template-columns: 1fr repeat(3, 3fr) 1fr;
  }

  .content>* {
    grid-column: 2 / -2;
  }

  .flourish {
    margin: 0;
    grid-column: 1 / -1;
  }
}

@media (max-width: 500px)  {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .menu1 {
    display: grid;
    grid-gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr;
    text-align: center;
    text-transform: uppercase;
  }

  .menu1>li {
    background-color: silver;
    padding: 10px;
    font-family: 'Inria Sans Bold';
    letter-spacing: 1px;
  }
}


.footer {
  display: grid;
}

.footertext {
  font-size: 1rem;
  font-family: 'Merriweather Light Italic';
  font-style: italic;
  text-align: center;
}

/* more stylistic things */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather Bold';
    margin: 0rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
  line-height: 1.8;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

img {
  max-width: 100%;
}

hr {
  width: 100%;
}

figcaption, .caption {
  font-family: 'Merriweather Light Italic';
  font-size: 0.75rem;
  font-style: italic;

  margin: 5px 5px 0px 2px;
}

a {
  color: black;
}

.byline {
    font-size: 1rem;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.lead {
    font-size: 1.15rem;
    text-align: center;
    font-family: 'Merriweather Light Italic'
}

.alternative {
  font-family: 'Inria Sans Regular';
}

.kicker {
  font-family: 'Inria Sans Light';
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.headline {
  text-align: center;
  margin-bottom: 1rem;
}

.subhead {
  font-family: 'Merriweather Light Italic';
  text-align: center;
}

.sectionhead {
  font-family: 'Merriweather Bold';
}
